@media print{
    @page{
        size: A4 landscape;
        margin: 1cm;
        line-height: 1;

      }
              @page {
                counter-increment: page;
                counter-reset: pages 1;
              }
      
              #number::after {
                content: "Page " counter(page) " of " counter(pages);
              }
              $background-color_1: #f2f8ff;
              body{
                font-size: 12px;
              }

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.title {
		flex-basis: 33%;
		h1 {
			text-decoration: underline;
		}
	}
	.date {
		flex: 1;
	}
}
.left-align {
	text-align: left;
}
.center-align {
	text-align: center;
}
table {
	width: 100%;
	border-collapse: collapse;
}
tr.content-row {
	line-height: 2;
	&:nth-child(even) {
		background-color: $background-color_1;
	}
	td {
		text-align: right;
		&:nth-child(1) {
			text-align: center;
		}
		&:nth-child(2) {
			text-align: left;
		}
		&:nth-child(3) {
			text-align: left;
		}
	}
}
tr.detail-record {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	line-height: 2;
	td {
		text-align: right;
		&:nth-child(1) {
			text-align: left;
		}
		&:nth-child(2) {
			text-align: center;
			font-weight: 600;
		}
	}
}
.table-head {
	border-bottom: 5px solid black;
}
.table-foot {
	page: auto;
}
.table-foot {
	border-top: 2px double black;
}
tr {
	.page-number {
		text-align: center;
	}
	.date {
		text-align: left;
	}
}

}