body {
  font-weight: 600;
  line-height: 1.5;
  font-size: 10px;
}

h1{
  font-size: 24px;
}

h3{
  font-size: 16px;
}
h4{
  font-size: 10.5px;
}
@page {
  size: A4;
  margin: 2cm;
}
header {
  top: 0;
  page: auto;
  line-height: 1.5;
  background-color: #fff;
  .invoice-head {
    display: flex;
    justify-content: space-between;
    .info {
      margin-left: 1cm;
      .address {
        font-weight: 600;
        h3 {
          margin: 0;
          font-weight: 600;
        }
      }
    }
    .date {
      margin-left: auto;
      align-self: flex-end;
    }
    img {
      width: 150px;
      height: 150px;
    }
  }
  .invoice-bill {
    .title {
      display: flex;
      justify-content: center;
    }
  }
}

footer {
  bottom: 0;
  page: auto;
  .anouncement {
    p {
      font-weight: 300;
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .rules {
      flex-basis: 30%;
    }
    .table {
      height: auto;
      flex-basis: 25%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      .row {
        display: flex;
        justify-content: space-between;
        &:last-child {
          .cell {
            border-bottom: 5px solid black;
          }
        }
        .cell {
          border-top: 5px solid black;
          flex: 1;
          padding: 10px;
          margin: 0 10px;
        }
      }
    }
  }
}

.billing {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  .address-acount {
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    .addr {
      font-weight: 300;
    }
  }
  .balance {
    flex-basis: 70%;
    table {
      width: 100%;
      border-collapse: collapse;
      tr {
        td {
          text-align: right;
          &:nth-child(even) {
            font-weight: 100;
          }
        }
      }
      .balance-due {
        td {
          &:nth-child(2) {
            border-top: 1px solid black;
            border-bottom: 1px double black;
          }
        }
      }
    }
  }
}

main {
  
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      border-top: 2px solid black;
      page: auto;
      tr {
        &:nth-child(1),
        :nth-child(3) {
          text-align: left;
        }
      }
    }
  }
}

footer {
  background-color: #fff;
  page: auto;
  .anouncement {
    p {
      font-weight: 300;
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .rules {
      flex-basis: 30%;
    }
    .table {
      flex-basis: 25%;
      padding: 10px;
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        justify-content: space-between;

        &:last-child {
          .cell {
            border-bottom: 5px solid black;
          }
        }
        .cell {
          border-top: 5px solid black;
          flex: 1;
          padding: 10px;
          margin: 0 10px;
        }
      }
    }
  }
}



