@page {
    
  size: A4;
  margin: 1cm;
 
  counter-increment: page;
}

body {
  padding: 10px;
  font-size: 10px;
  counter-reset: page;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 3px double black;
  height: 90px;
  .title {
    align-self: flex-start;
    h1 {
      margin: 0;
    }
  }
}

table {
  th:first-child,
  td:first-child {
    max-width: 50px; /* Adjust the maximum width as needed */
  }
  width: 100%;
  line-height: 2.5;
  border-collapse: collapse;
  border-spacing: 5px;
  &:nth-child(2) {
    &::before {
      content: "";
      display: block;
      margin-bottom: 20px;
    }
    border-top: 0;
  }
  .table-head {
    display: table-header-group;
    border-top: 3px double black;
    border-bottom: 3px double black;
    tr {
      th {
        font-weight: 600;
        text-align: right;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          text-align: left;
        }
        &:nth-child(4),
        &:nth-child(5) {
          text-align: center;
        }
      }
    }
  }
  tbody {
    display: table-row-group;
    border-top: 1px solid black;
    &:first-of-type {
      border-top: 0;
    }
    tr {
      td {
        text-align: right;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          text-align: left;
        }
      }
    }
    .spacer {
      height: 20px;
    }
    .result {
      td {
        margin-bottom: 20px;
        &:nth-child(4),
        &:nth-child(5) {
          border-top: 1px solid black;
          border-spacing: 2px;
        }
      }
    }
  }
  tfoot{
    display: table-footer-group;
    tr{
      td{
        #number{
          &::after{
            counter-increment: page;
          content:"Page " counter(page);
          }
          
        }
        .total{
          &::after{
            content: "of " counter(pages);
          
        }
      }
      }
    }
  }
}