@page {
  size: A4;
}

body{
  font-size: 12px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .invoice-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .info {
      margin-left: 1cm;
      .address {
        font-weight: 600;
        h3 {
          margin: 0;
          font-weight: 600;
        }
      }
    }
    .date {
      margin-left: auto;
      align-self: flex-end;
    }
    img {
      width: 150px;
      height: auto;
    }
  }
}
.billing {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  .address-account {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: space-between;
    .addr{
      margin-bottom: 20px;
margin-left: 24px;
    }
  }
  .balance {
    flex-basis: 60%;
    table {
      width: 100%;
      tbody{
        tr.result{
          td:nth-child(3), td:nth-child(4) {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            font-size: 16px;
            font-weight: 600;
          }
        }
        tr:last-child{
          height: 25px;
        }
      }

    }
  }
}
main {

  .title {
    display: flex;
    justify-content: center;
  }
  .row {
    table {
      width: 100%;
      line-height: 2;
      thead{
        border-bottom: 1px solid black;
      }
    }
  }
  .note {
    font-weight: 600;
  }
}

footer {
  .anouncement {
    font-weight: 600;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .rules {
      flex-basis: 25%;
    }
    .table {
      flex-basis: 25%;
      padding: 10px;
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        justify-content: space-between;

        &:last-child {
          .cell {
            border-bottom: 5px solid black;
          }
        }
        .cell {
          border-top: 5px solid black;
          flex: 1;
          padding: 10px;
          margin: 0 10px;
        }
      }
    }
  }
}
